In [1]:
import numpy as np
import pandas as pd

## eliminar filas o columnas

In [45]:
def drop_nan_rows(data):
    data = data.to_numpy()
    data_filt = np.delete(data,(np.where(np.isnan(data))), axis = 0)
    return data_filt

In [46]:
def drop_nan_cols(data):
    data = data.to_numpy()
    data_filt = np.delete(data,(np.where(np.isnan(data)[1])), axis = 1)
    return data_filt

In [51]:
data = pd.read_csv("../data/clase3V2.csv",delimiter=';',header=None)
data_filt= drop_nan_rows(data)
data_filt.shape

(75, 7)

In [48]:
data = pd.read_csv("../data/clase3V2.csv",delimiter=';',header=None)
data_filt = drop_nan_cols(data)
data_filt.shape

(100, 5)

## Imputar por media

In [103]:
def imp_mean(data):
    return data.fillna(data.mean(axis=0))

In [107]:
data = pd.read_csv("../data/clase3V2.csv",delimiter=';',header=None)
data_imput = imp_mean(data)
data_imput

            0         1          2         3         4          5          6
0    3.669506  2.863605   4.184569  2.948632 -0.631169  -9.364512   7.564543
1   13.505001  4.482330   4.184569  0.770769 -0.631169  -3.706287  32.866898
2   -5.736774 -1.030994   4.184569  0.907981 -0.631169   5.332656 -20.922094
3   -0.019325  1.909841   4.184569  0.137427 -0.631169   3.400036   1.433380
4    6.079670  1.528345   4.184569  0.746475 -0.631169 -11.486688  11.867943
..        ...       ...        ...       ...       ...        ...        ...
95   0.029921  5.364063   9.676388  2.644617  1.877694  -7.677102  24.897925
96  -1.775782  5.393318   3.854789  3.186040 -1.403002  -3.622327  18.237007
97  13.162143  0.164868  12.263580  3.105625 -0.426276  -1.829889  43.654064
98   7.060369  4.293074   3.590226 -0.066123 -2.039099  -3.643987  18.831133
99 -23.815965  3.424658   1.601140  1.270134 -2.037267   6.164295 -69.318103

[100 rows x 7 columns]